* {
    font-family: 'Noto Sans', "FiraCode Nerd Font Mono", sans-serif;
    font-size: 14px;
}

window#waybar {
    border-bottom: 4px solid #FFFFDD;
}

window#waybar > box {
    padding: 0 24px;
}

#custom-musicIcon {
    font-size: 24px;
    margin-right: 10px;
}

#custom-layout {
    font-weight: bold;
}

#workspaces button {
    color: #A3A3A3;
}

#workspaces button.active {
    color: #FFFFDD;
}

#wireplumber {
    font-size: 28px;
}

#backlight {
    font-size: 24px;
}

#bluetooth {
    font-size: 18px;
}

#network {
    font-size: 24px;
}

#custom-nc {
    font-size: 20px;
}